.chartsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    max-width: 700px;

    margin: 2em;
}

.chart {
    max-width: 500px;
    max-height: 400px;
    margin: 1em;
}

.margin-top {
    margin-top: 3em;
}